:root {
  --border-radius: 50.18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading_screen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  z-index: 100;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container>.reset_anim_btn {
  position: absolute;
  left: 50;
  top: 0%;
  width: 4rem;
  height: 4rem;
  background-color: #F29052;
  padding: 10px;
  border-radius: 15px;
  /* transform: translateX(-50%); */
}

/* .container>.reset_anim_btn>svg {} */

.canvas_container {
  height: 80vh;
  aspect-ratio: 9/19.5;
  position: relative;
  /* width: 30px; */
  /* overflow: hidden; */
}

.canvas_container>canvas {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.card_content {
  color: white;
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.card_content_heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  margin-bottom: 6px;
  opacity: 0.9;
}

.card_content_subheading {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: center;
}

.card_content_btn {
  background-color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
}

.svg {
  width: 100%;
  height: 100%;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg>svg {
  width: 0.5rem;
  height: 0.5rem;
  /* transform: translateY(-25%); */
  /* background-color: red; */
  /* transform: translateY(-2%); */
}

.btn_text {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.image_container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media screen and (max-width: 700px) {

  .container>.reset_anim_btn {
    position: absolute;
    left: 0;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #F29052;
    padding: 10px;
    border-radius: 15px;
    /* transform: translateX(-50%); */
  }
}
